<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Beispiel App</title>
</head>
<body>
    <div class="text-zentrum">
        <!-- Variable anzeigen -->
        <h1>Schrankensteuerung</h1>
        <p><br></p>
        {% if nachricht %}
        <p><strong>{{ nachricht }}</strong></p>
        {% endif %}
        <form action="/klick_barrier" method="POST">
            <button type="submit" style="
                background-color: #DC3545; 
                color: white; 
                font-size: 20px; 
                padding: 15px 30px; 
                border: none; 
                border-radius: 8px; 
                cursor: pointer;"> Schranke
            </button>
        </form>
        <p><br></p>
        <form action="/klick_tor" method="POST">
            <button type="submit" style="
                background-color: #35dc51; 
                color: white; 
                font-size: 20px; 
                padding: 15px 30px; 
                border: none; 
                border-radius: 8px; 
                cursor: pointer;"> Garagentor
            </button>
        </form>
    </div>
</body>
</html>